/* .loadingPage {
  height: 90vh;
  width: 100%;
  display: grid;
  place-items: center;
}

.loadingCircle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 10px solid #ffffff;
  border-top: 10px solid rgb(34, 34, 34);
  border-bottom: 10px solid rgb(32, 23, 23);
  animation: loading 1s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

.spinner {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.loader {
  width: 120px;
  height: 120px;
  position: relative;
}

.loader::before,
.loader::after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  mix-blend-mode: multiply;
  animation: rotate 1s infinite cubic-bezier(0.77, 0, 0.1, 1);
}

.loader::before {
  background-color: #fc3f9e;
}

.loader::after {
  background-color: #50e8f3;
  animation-delay: 0.5s;
}

@keyframes rotate {
  0%,
  100% {
    left: 95px;
  }
  25% {
    transform: scale(0.3);
  }
  50% {
    left: 0;
  }
  75% {
    transform: scale(1);
  }
}
